.search{
	background-color: #bbcde6;
	color: #004267;
}
.topnav{
	background-color: #004267;
	color: #fff;
}
.topnavtext{
color: #fff;	
}
.addleft{
	background-color: #677697;
	height: 500px;

}
.addleftall{
	background-color: #bbcde6;
	margin-top: 20px;
	margin-bottom: 30px;
	height: 150px;

}

.allvesreleft{
		background-color: #fff;
	height: 500px;
}
.lefttopics{
	background-color: #bbcde6;
	
	color: #004267;
}

.homeverse{
	margin-bottom: 20px;
	margin-top: 20px;
}
.welcometopdiv{
	background-image: url('../mwika.png');
	background-position: center;
	 background-size: cover;
	 background-repeat: no-repeat;
	 min-height: 1200px;
	 max-height: 1200px
	background-attachment: fixed;
	

}

.panels{

	max-height: 350px;
	min-height: 350px;
    color: #fff;
	background-color: #677697;

}